
    *::before, *::after {

        box-sizing: border-box;
    }

    * {

        margin: 0;
        padding: 0;
    }

    :root {

        --yellow: #FFE49A;
        --blue: #9AB5FF;
    }

    @import url('https: //fonts.googleapis.com/css2?family=Raleway&display=swap');

    body {

        font-family: 'Raleway', sans-serif;
        font-weight: normal;
        min-height: 100vh;
    }

    .container {

        width: 100%;
        flex-grow: 1;
    }

    .full-height-grow {

        display: flex;
        flex-direction: column;
    }

    .container div {

        flex-grow: 1;
        display: flex;
        flex-direction: row;
        background-color: var(--blue);
    }

    section {

        width: 50%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

        /* Add colors to both main sections */
        
        .yellow {

            background-color: var(--yellow);
        }

        .blue {

            background-color: var(--blue);
            overflow-y: scroll;
        }

        /* Display picture and frame
        *  Add top margin to all that content
        *  Style fonts to both name and subtitle
        */

        .display-picture {

            width: 22.5vw;
            height: 45vh;
        }

        .frame {

            padding: 5px;
            border-radius: 10px;
            background-color: var(--blue);
        }

        .margin-top {

            margin-top: 10vh;
        }

        .name {

            font-size: calc(14px + 0.75em);
        }

        .subtitle {

            font-size: calc(12px + 0.25em);
            text-align: center;
            width: 70%;  
        }

        span {

            font-style: italic;
        }

        /* Add styles to navigation logo
        *  Add width height to the logo 
        */

        nav {

            width: 60%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }

        .nav-logo {

            width: 1.5em;
            height: 1.5em;
        }

        /* Add styles to toggle nav of the blue section
        *  Add dimensions to it
        *  Add styles to the content div featuring the websites
        */

        .blue .toggle-styles {

            width: 48vw;
            height: 12vh;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            position: fixed;
            top: 0;
        }

        .blue a {

            cursor: pointer;
        }

        .blue .content {

            width: 90%;
            height: 85vh;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;

            margin-top: 4em;
        }

        /* Style the toggle navigation fonts */

        .blue .toggle-styles a {

            font-size: calc(10px + 0.75em);
            color: var(--yellow);
        }

        .content .content-sections {

            width: 40%;
            margin: 0.75em 0.75em;
            height: 50vh;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }

        .border {

            border: 5px solid var(--yellow);
            border-radius: 10px;
        }

        .featured-website {

            width: 90%;
            height: 40vh;
        }

        header {

            font-weight: bold;
            font-size: calc(10px + 0.25em);
        }

        header span {

            font-weight: bold;
        }

        .line-height {

            line-height: 25px;
            width: 90%;
        }

        .text-indent {

            text-indent: 1em;
        }

        /* Work Content Card Styling*/

        .border p {

            color: white;
            font-size: calc(10px + 0.25em);
            width: 90%;
            text-align: justify;
        }

        .border header {

            font-size: 0.9em;
        }

        